{% extends '_base.html' %}
{% block body %}
        <a href="{% url 'contacts:create' %}">
        <button type="button" class="btn btn-primary">Create contact</button>
    </a>

    <ol>
        {% for contact in contacts %}
            <li style="margin: .2em">
                <span>{{ contact.name }} - {{ contact.birthday }}</span>
                <a href="{% url 'contacts:view' pk=contact.pk %}">
                    <button type="button" class="btn btn-primary">View</button>
                </a>
                <a href="{% url 'contacts:edit' pk=contact.pk %}">
                    <button type="button" class="btn btn-primary">Edit</button>
                </a>
                <a href="{% url 'contacts:delete' pk=contact.pk %}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </li>
        {% endfor %}
    </ol>
{% endblock %}